* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	color: rgba(255, 255, 255, 0.87);
	background-color: #222224;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}
